.typeWindows-1za-n7 {
    position:relative;
}
.wordmark-2iDDfm {
    display:flex;
    align-items:center;
    padding:0 6px;
    height:calc(100% + 4px);
    top:-4px;
    width:fit-content;
    font-size:14px;
    font-weight:600;
    font-family: 'Discord';
}
.wordmark-2iDDfm > svg {
    display:none;
}
.wordmark-2iDDfm:after {
    content:'discord, by Xasya';
}
